build/
dist/
data/


src/frise/__pycache__/ecriture_fichier.cpython-312.pyc
src/frise/__pycache__/save.cpython-312.pyc
src/annotation/__pycache__*
src\test_interface.py

src/Objective_Symptomes.txt
src/Subjective_Symptomes.txt
src\annotation\__pycache__*
src/video_player


data\crises_exemples_prive
src/temp_audio.wav
audio.wav


# fichiers a ignorer pour le git
*__pycache__/*

*.moi*  # des fichiers inutiles, pour moi 

# Fichiers d'environnement virtuel
*venv/

# Fichiers générés par VSCode
.vscode/

# Tests divers
*test*

src/annotation/CTkScrollableDropdown/example.py
src/annotation/CTkScrollableDropdown/LICENSE
src/annotation/CTkScrollableDropdown/README.md
src/annotation/CTkScrollableDropdown/CTkScrollableDropdown/__init__.py
src/annotation/CTkScrollableDropdown/CTkScrollableDropdown/ctk_scrollable_dropdown_frame.py
src/annotation/CTkScrollableDropdown/CTkScrollableDropdown/ctk_scrollable_dropdown.py
src/annotation/__pycache__/class_symptome.cpython-311.pyc
src/annotation/__pycache__/class_symptome.cpython-311.pyc
src/frise/__pycache__/ecriture_fichier.cpython-311.pyc
src/frise/__pycache__/fonctions_frise.cpython-311.pyc
src/frise/__pycache__/save.cpython-311.pyc
src/frise/__pycache__/fonctions_frise.cpython-311.pyc
src/annotation/__pycache__/class_symptome.cpython-311.pyc
src/frise/__pycache__/fonctions_frise.cpython-311.pyc
src/frise/__pycache__/class_metadata.cpython-311.pyc
src/annotation/__pycache__/pop_up.cpython-311.pyc
src/annotation/__pycache__/load_symptomes.cpython-311.pyc
src/__pycache__/general_interface_V1.cpython-312.pyc
src/__pycache__/general_interface_V4.cpython-312.pyc
src/__pycache__/general_interface_V6.cpython-312.pyc
src/__pycache__/general_interface_V9.cpython-312.pyc
src/annotation/__pycache__/__init__.cpython-312.pyc
src/annotation/__pycache__/class_Menu_symptomes.cpython-312.pyc
src/annotation/__pycache__/class_symptome.cpython-312.pyc
src/annotation/__pycache__/load_symptomes.cpython-312.pyc
src/annotation/__pycache__/menu_deroulant_anaelle.cpython-312.pyc
src/annotation/__pycache__/pop_up.cpython-312.pyc
src/annotation/__pycache__/recherche_menu_déroulant.cpython-312.pyc
src/annotation/__pycache__/symptom_label.cpython-312.pyc
src/frise/__pycache__/__init__.cpython-312.pyc
src/frise/__pycache__/class_metadata.cpython-312.pyc
src/frise/__pycache__/fonctions_frise.cpython-312.pyc
src/lecteur_video/__pycache__/__init__.cpython-312.pyc
src/lecteur_video/__pycache__/barre_progression.cpython-312.pyc
src/lecteur_video/__pycache__/csacade.cpython-312.pyc
src/lecteur_video/__pycache__/interface_menu_deroulants.cpython-312.pyc
src/lecteur_video/__pycache__/menu_indente.cpython-312.pyc

data/crises_exemples_prive/090428FAEX_0001.MPG
data/crises_exemples_prive/090429FAEX_0000.MPG
data/crises_exemples_prive/130213I-DEX_0000.AVI
data/crises_exemples_prive/130213I-EEX_0001.AVI
src/annotation/__pycache__/exel_menus.cpython-312.pyc
temp_audio.wav
src/annotation/__pycache__/search_bar.cpython-312.pyc
src/__pycache__/general_interface_V10.cpython-312.pyc
src/__pycache__/general_interface_V10.cpython-312.pyc
src/__pycache__/general_interface_V10.cpython-312.pyc
src/__pycache__/general_interface_V10.cpython-312.pyc
src/__pycache__/general_interface_V10.cpython-312.pyc
